---
import Image from "astro/components/Image.astro"
import wrapper from "../assets/wrapper.png"
import refresh from "../assets/refresh.svg?raw"
---

<div id="carambar">
  <Image src={wrapper} width={720} quality="max" loading="eager" alt="Emballage Carambar"/>
  <div id="joke">
    <div id="setup">&nbsp;</div>
    <div id="punchline">&nbsp;</div>
  </div>
  <button id="new-joke">
    <Fragment set:html={refresh} />
  </button>
</div>

<script>
// @ts-nocheck
const setup = document.getElementById('setup');
const joke = document.getElementById('joke');
const punchline = document.getElementById('punchline');
const newButton = document.getElementById('new-joke');
const apiUrl = 'https://cda-jokes-api.onrender.com/v1/jokes/random';
let jokeContent;

punchline.addEventListener("click", () => {
  punchline.style.filter = "none";
  punchline.style.cursor = "auto";
})

newButton.addEventListener('click', () => {
  getJoke();
  punchline.style.filter = 'blur(5px)';
  punchline.style.cursor = 'pointer';
})

async function getJoke() {
  joke.style.opacity = 0;
  try {
    const response = await fetch(apiUrl);
    jokeContent = await response.json();
    if (jokeContent && jokeContent.hasOwnProperty("question")) {
      setup.innerHTML = jokeContent.question;
      punchline.innerHTML = jokeContent.answer;
    } else showErr();
  } catch (err) {
      console.error(err)
      showErr();
  }
  joke.style.opacity = 1;
}

function showErr() {
  setup.innerHTML = "Je suis à court de blagues :(";
  punchline.innerHTML = "&nbsp;";
}

getJoke();
</script>

<style>
  #carambar {
    width: 100%;
    max-width: 720px;
    aspect-ratio: 7/2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: drop-shadow(0 0 12px rgba(0,0,0,0.4));
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }

  #joke {
    position: absolute;
    color: #db0961;
    text-align: center;
    max-width: 85%;
    opacity: 0.5;
    transition: opacity 0.1s;
  }

  #setup {
    font-size: 4.5vw;
    @media (min-width: 600px) {
      font-size: 28px;
    }
  }
  #punchline {
    font-size: 4.3vw;
    margin-top: 8px;
    filter: blur(4px);
    cursor: pointer;
    @media (min-width: 600px) {
      font-size: 22px;
    }
  }

  #new-joke {
    color: #db0961;
    width: 10%;
    height: 10%;
    background: none;
    border: none;
    align-self: flex-end;
    z-index: 1;
    cursor: pointer;
    &:hover {
      transform: scale(110%);
      filter: drop-shadow(0 0 2px rgba(0,0,0,0.2)) brightness(110%);
    }
  }

</style>