<div class="container">
  <div id="question"></div>
  <div id="answer"></div>
  <button id="new-joke">⟳</button>
</div>

<script>
const question = document.getElementById('question');
const answer = document.getElementById('answer');
const newButton = document.getElementById('new-joke');
let joke;

answer.addEventListener('click', () => {
  answer.style.filter = 'none';
  answer.style.cursor = 'auto';
  newButton.style.visibility = "visible";
})

newButton.addEventListener('click', () => {
  getJoke();
  answer.style.filter = 'blur(5px)';
  answer.style.cursor = 'pointer';
  newButton.style.visibility = "hidden"
})

async function getJoke() {
  try {
    const response = await fetch('https://cda-jokes-api.onrender.com/v1/jokes/random');
    joke = await response.json();
    if (joke) {
      question.innerHTML = joke.question;
      answer.innerHTML = joke.answer;
    }
    console.log(joke)
  } catch (err) {
    console.error(err)
  }
}

getJoke();
</script>

<style>
  .container {
    background: #fffecd;
    color: #e40a7d;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    height: 120px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    box-shadow: -20px 0 0 #ffffff, -40px 0 0 #fbe5eb, -60px 0 0 #ffffff, -80px 0 0 #fbe5eb, -100px 0 0 #ffffff, -120px 0 0 #fbe5eb,
    20px 0 0 #ffffff, 40px 0 0 #fbe5eb, 60px 0 0 #ffffff, 80px 0 0 #fbe5eb, 100px 0 0 #ffffff, 120px 0 0 #fbe5eb;
  }

  #answer {
    font-weight: normal;
    filter: blur(5px);
    cursor: pointer;
  }

  #new-joke {
    background: none;
    color: #e40a7d;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    border: none;
    padding: 0;
    cursor: pointer;
    visibility: hidden;
    &:hover {
      -webkit-text-stroke: 1px #e40a7d;
    }
  }
</style>