<footer>
  <span>Projet pour la formation Simplon <i>Concepteur-ice développeur-se d'applications</i> - <a target="_blank" href="github.com">Github</a></span>
</footer>

<style>
	footer {
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 0.6rem;
		color: rgba(255,255,255,0.6);
		font-size: 0.9rem;
	}

	footer a {
		color: rgba(255,255,255,0.6);
	}

	footer a:hover {
		color: gold;
	}
</style>